/* Include Google Fonts stylesheet for Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background {
  background-image: url("path/to/your/background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  shadow effect */
}

.title {
  font-size: 36px;
  font-family: "Roboto", sans-serif; /* Set the font to Roboto */
  color: #fff; /* Set the text color to white */
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); /* add drop shadow to text */
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  color: #888;
}
