/* Include Google Fonts stylesheet for Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  overflow: hidden; /* Hide vertical scrollbar */
}

.background {
  background-image: url("path/to/your/background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  shadow effect */
}

.title {
  font-size: 36px;
  font-family: "Roboto", sans-serif; /* Set the font to Roboto */
  color: #d9d9d9; /* Set the text color to off-white */
  text-shadow: 10px 10px 18px rgba(0, 0, 0, 0.66); /* add drop shadow to text */
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.33); /* add drop shadow to text */
  color: #888;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.25
  ); /* Set the background color with 0.25 opacity */
  display: flex;
}

.left-content {
  flex: 1;
  text-align: left;
  padding: 5px 20px;
}

.copywrite-container {
  text-align: right;
  padding: 5px 20px;
}

.copywrite,
.credit {
  font-size: 14px;
  color: #333; /* Set the text color to dark grey */
  margin: 0;
}

.credit a {
  color: #333; /* Set the link color to dark grey */
  text-decoration: underline;
}

.buttons-container-wrapper {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Add wrap to break buttons into a new line if necessary */
  gap: 10px; /* Add spacing between buttons */
}
/* Button Styles */
.buttons-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add padding between buttons and tagline */
  margin-bottom: 20px; /* Add padding between buttons and bottom bar */
}

.button {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 10px;
}

.button-text {
  font-size: 14px;
  color: #fff; /* Set the text color to white */
  margin: 0;
}

/* Adjust the positioning of the buttons container */
@media screen and (min-height: 600px) {
  .buttons-container {
    position: absolute;
    bottom: calc(
      50% + 20px
    ); /* Halfway between tagline and bottom bar, plus 20px offset */
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
